img{
    width:5rem ;
    height: 5rem;
    border: none;
    border-radius: 50px;
    object-fit: cover;
}

p{
    font-size: 1rem;
}
 .cart-container {
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     margin: 1.5rem;
     margin-top: 0.5rem;
 }


ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    border: 1px solid #ffbbbb;
    justify-content: space-evenly;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0;
}

ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
    padding: 1rem;
}
ul li:last-child{
    border: none;
}

li div:not(:first-child){
    flex-basis: 18%;
}

li div{
    text-align: center;
}
.btn{
    border: none;
    padding: 0.25em 0.75em;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.remove-btn{
    background-color: rgb(255, 0, 0);
}
.remove-btn:hover,.proceedbtn{
    opacity: 0.8;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.checkout>div {
    font-size: 1.1rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.food-count {
    margin-bottom: 1.5rem;
}

.food-count::before {
    content: "Count: ";
    color: grey;
}

.total-price::before {
    content: "Price: ";
    color: grey;

}

.checkout a {
    padding: .7rem;
    color: white;
    background-color: #0dc362;
    display: block;
    width: 100%;
    border-radius: 1rem;
    text-align: center;
}



.num-block {
    float: left;
    width: 100%;
    padding: 15px 30px;
}

/* skin 1 */
.in-num{
    outline: none;
    margin: auto;
}
.skin-1 .num-in {
    float: left;
    width: 94px;
}

.skin-1 .num-in span {
    display: block;
    float: left;
    width: 30px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.skin-1 .num-in span.dis:before {
    background-color: #ee4040 !important;
}

.skin-1 .num-in input {
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #6E6F7A;
    border-radius: 5px;
    color: #000;
    text-align: center;
    padding: 0;
}

.skin-1 .num-in span.minus:before {
    content: '';
    position: absolute;
    width: 15px;
    border-bottom: 3px solid red;
    top: 50%;
    left: 0;
}

.skin-1 .num-in span.plus:before,
.skin-1 .num-in span.plus:after {
    content: '';
    position: absolute;
    right: 0px;
    width: 15px;
    height: 2px;
    background-color: #0dc362;
    top: 50%;
}
.skin-1 .num-in span.plus:before{
    height: 0;
    border-bottom: 3px solid #0dc362;
}
.skin-1 .num-in span.plus:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
