button{
    border: none;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
    padding: .5em 2em;
}
.input-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

button:hover{
    opacity: .9;
    cursor: pointer;
}
