<header>
  <div class="wrapper navBar">
    <div>
      <a routerLink="/"><img class="logo" src="assets/clipart4536877.png" alt=""></a>
    </div>
    <nav>
      <ul class="nav-ul">
        <li *ngIf="!isAuth"><a class="nav-link" routerLink="/login">Login</a></li>
        <li  *ngIf="isAuth" class="menu-container">
          <span class="nav-link">
            <span class="dropdown">
                  {{user.name}}
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="m7 10l5 5l5-5z" /></svg>
            </span> 
          </span>
          <div class="menu">
            <a class="nav-link" routerLink="/profile">profile</a>
            <a class="nav-link" routerLink="/orders">Orders</a>
            <a class="nav-link" routerLink="/logout" (click)="logOut()">Logout</a>
          </div>
        </li>
        <li>
          <a class="nav-link" routerLink="/cart-page">Cart<span *ngIf="cartQuantity!=0" class="badge">{{cartQuantity}}</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>