input{
    width:100%;
    height: 100%;
    border: none;
    border-bottom: 0 solid grey;
    transition: border-bottom 0.15s ease-out;
    background-color: white;
    font-size: 0.9rem;
    outline: none;
}

input::placeholder{
    color: #dfdffd;
    font-size: 0.95rem;
}

input:focus{
    border-width:2.9px;
}

input-validation{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0.65rem;
    height: 100%;
    width: 10rem;
}