
.outer-wrapper{
    display: flex;
    align-items: center;
}
.details{
    width: 28rem;
    margin: 5rem auto 0;

}

.register-link{
    color: grey;
}

.register-link:hover {
    color: rgb(184, 180, 180);
}

.link-text{
    text-align: center;
}