
.outer-wrapper{
    display: flex;
    align-items: center;
    height: 70vh;
}
.details{
    width: 28rem;
    margin: 0 auto;

}

.register-link{
    color: grey;
}

.link-text{
    text-align: center;
}