*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  place-content: center;
}
img{
  max-width: 100%;
}

.container{
  margin: 0 10%;
  max-width: 2000px;

}

:root{
  font-family: 'Poppins', sans-serif;

}

a{
  text-decoration: none;
  color: inherit;
}

