*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img{
  max-width: 100%;
}

.wrapper{
  margin: 0 10%;
  max-width: 2000px;

}

:root{
  font-family: 'Poppins', sans-serif; 
  font-size: 10px;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

@media (min-width:500px) {
  :root{
    font-size: 16px;
  }
}